/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #967878;
    padding: 10px;
    color: #fff;
}
#imagem{
display: flex;
flex-direction: row;
justify-content: center;

}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
}

nav ul li a:hover {
    color: #f00;
    cursor: pointer;
}

nav ul li a:active {
    color: #00f;
}

main {
    margin: 20px;
}

section {
    margin-bottom: 20px;
}
h1:hover:
h2 {
    color: #333;
    font-size: 24px;    
}


h3 {
    color: #333;
    font-size: 18px;
}

article {
    border: 1px solid #ccc;
    padding: 10px;
}


iframe {
    width: 100%;
}

a:link {
    color:black;
}

a:visited {
    color:orange;
}

a:hover {
    color:silver;
    
}

a:active {
    color: yellow;
}
footer {
    background-color: #333;
    padding: 10px;
    color: #fff;
    margin: 0;
}
/*=== ANIMACOES ===*/

@keyframes expand{
    0%{
          color: blue;
    }
    50%{
        color: red;
    }
    100%{
          color: blue;
    }
}

#titulo {
    animation: expand;
    animation-duration:40s;
    animation-iteration-count: infinite;
}
#titulo:hover {
    transform: scale(20.8);
    transform: translate(500px);
}